<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Login Role</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="fields">
        <h1>Login As</h1>
        <p>Select your role to proceed</p>
        <div class="row">
            <div class="fields-col">
                <a href="login-admin.html">
                    <img src="./images/Admin.png" alt="Admin">
                    <div class="layer">
                        <h3>Admin/HR</h3>
                    </div>
                </a>
            </div>

            <div class="fields-col">
                <a href="login-faculty.html">
                    <img src="./images/Faculty.png" alt="Faculty">
                    <div class="layer">
                        <h3>Project Lead</h3>
                    </div>
                </a>
            </div>

            <div class="fields-col">
                <a href="intern_login.html">
                    <img src="./images/Student.jpg" alt="Student">
                    <div class="layer">
                        <h3>Intern</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
</html>
